@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* -- FONTFACE -- */

/* Light */
@font-face {
	font-family: 'Conv_DINPro-Light tr';
	src: url('../fonts/DINPro-Light tr.eot');
	src: local('☺'), url('../fonts/DINPro-Light tr.woff') format('woff'),
  url('../fonts/DINPro-Light tr.ttf') format('truetype'),
  url('../fonts/DINPro-Light tr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Regular */
@font-face {
	font-family: 'Conv_DINPro-Regular_13937';
	src: url('../fonts/DINPro-Regular_13937.eot');
	src: local('☺'), url('../fonts/DINPro-Regular_13937.woff') format('woff'),
  url('../fonts/DINPro-Regular_13937.ttf') format('truetype'),
  url('../fonts/DINPro-Regular_13937.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Bold */
@font-face {
	font-family: 'Conv_DINPro-Bold tr';
	src: url('../fonts/DINPro-Bold tr.eot');
	src: local('☺'), url('../fonts/DINPro-Bold tr.woff') format('woff'),
  url('../fonts/DINPro-Bold tr.ttf') format('truetype'),
  url('../fonts/DINPro-Bold tr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* -- VARIABLES -- */
$primary: #e44192;
$secondary: #ef93ba;
$white: #fff;
$dark-pink: #c61656;

$light-text: 'Conv_DINPro-Light tr';
$regular-text: 'Conv_DINPro-Regular_13937';
$bold-text: 'Conv_DINPro-Bold tr';
$serif: 'IM Fell Double Pica';

/* -- MIXINS -- */
.light-text { font-family: $light-text; }
.regular-text { font-family: $regular-text; }
.bold-text { font-family: $bold-text; }

.white-text { color: #fff !important; }
.light-gray-text { color: lighten(black, 70%); }
.text-primary { color: $primary; }

.serif { font-family: $serif; }

/* -- GLOBAL -- */
body {
	background: url("../images/bg-pattern.png") repeat fixed;
  font-family: $regular-text;
  font-size: 16px;
	color: lighten(black, 40%);
	padding-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $bold-text;
  line-height: 1;
}

.empty-space {
	height: 50px;
}
.lh-30px {
	line-height: 30px;
}
a.white-icon {
	width: 25px;
	height: 25px;
	display: inline-block;
}
.main-container {
	background: #fff;
}
.quotation{
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.4;
	font-size: 20px;
}
.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 20px;
  font-size: 3em;
	font-family: Times New Roman,sans-serif;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 20px;
  font-size: 3em;
	font-family: Times New Roman,sans-serif;
}

/* -- HEADER -- */

/* Nav */
.navbar {
  background: $primary;
  border-bottom: 4px solid $secondary;

  .navbar-nav {
    & > li > a {
      color: $secondary;
      text-transform: uppercase;
      font-family: $bold-text;
      font-size: 13px;
    }

    & > li > a:hover,
    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      background: transparent;
      color: $white;
    }
  }

	a.white-icon {
		&#home {
			background: url("../images/home.png") no-repeat;
			background-size: cover;
			width: 25px;
			height: 25px;
			margin-top: 5px;
		}
	}
}

/* -- CONTENT -- */

/* iShine */
.carousel-item {
	& > img {
		height: inherit;
		object-fit: cover;
	}
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}
.col.col-sm-2 {
  width: 20%;
	max-width: 20%;
}

.camp-icon {
  background: url("../images/camp-icons.png") no-repeat;
  background-size: cover;
  height: 222px;
  display: block;
  width: 216px;
	position: relative;

	&#art {
	  background-position: -1px 0;
	}
	&#ballet {
	  background-position: -227px 0;
	}
	&#dance {
	  background-position: -457px 0;
	}
	&#music {
	  background-position: -686px 0;
	}
	&#theater {
	  background-position: -915px 0;
	}

	span {
		position: absolute;
    bottom: -30px;
    text-align: center;
    width: 100%;
		font-family: $bold-text;
		font-size: 20px;
	}
}

.camp-icon:hover {
  background: url("../images/active-camp-icons.png") no-repeat;
	background-size: cover;

	&#art {
	  background-position: 0 0;
	}
	&#ballet {
	  background-position: -222px 0;
	}
	&#dance {
	  background-position: -449px 0;
	}
	&#music {
	  background-position: -673px 0;
	}
	&#theater {
	  background-position: -899px 0;
	}
}

/* Workshops */
.text-muted {
	font-size: 12px;
}
.form-check {
	input[type=radio]{
	  position: absolute;
	  visibility: hidden;
	}
	label{
	  display: block;
	  position: relative;
	  z-index: 9;
	  cursor: pointer;
	  -webkit-transition: all 0.25s linear;
	}
	&:hover label{
		color: $secondary;
	}
	.check{
	  display: block;
	  position: absolute;
	  border: 2px solid $primary;
	  border-radius: 100%;
	  height: 25px;
	  width: 25px;
		top: 0;
	  left: 0;
		z-index: 5;
		transition: border .25s linear;
		-webkit-transition: border .25s linear;
	}
	&:hover .check {
	  border: 2px solid $secondary;
	}
	.check::before {
	  display: block;
	  position: absolute;
		content: '';
	  border-radius: 100%;
	  height: 15px;
	  width: 15px;
	  top: 3px;
		left: 3px;
	  margin: auto;
		transition: background 0.25s linear;
		-webkit-transition: background 0.25s linear;
	}

	input[type=radio]:checked ~ .check {
	  border: 2px solid $primary;
	}

	input[type=radio]:checked ~ .check::before{
	  background: $primary;
	}

	input[type=radio]:checked ~ label{
	  color: $primary;
	}
}

.explore {
	background: url("../images/explore-bg.jpg") no-repeat;
	background-size: cover;
}
.camp-info {
	img.img-fluid {
		height: 100%;
	}
}

.testimonial {
	background: $dark-pink;
}
.testi-user {
	img {
		border-radius: 50%;
		width: 80px;
		float: left;
	}
	a {
		color: lighten($primary, 20);
	}
}

/* -- FOOTER -- */
footer {
	background: $primary;
	padding: 30px 0;
	border-top: 4px solid $secondary;

	p {
		font-size: 14px;
	}
	a {
		text-decoration: underline;
	}
	a.white-icon {
		&#facebook {
			background: url("../images/facebook.png") no-repeat;
			background-size: cover;
		}
		&#youtube {
			background: url("../images/youtube.png") no-repeat;
			background-size: cover;
		}
	}
}

/* -- MEDIA QUERIES -- */
@media only screen and (max-width: 479px) {
	.main-container {
		background: transparent;
	}
	.carousel-item {
		height: 13rem;

		.btn-lg.btn {
	    padding: 6px 15px;
	    font-size: 15px;
		}

		.carousel-caption {
			top: 72px;
			left: 8%;

			h1 {
				font-size: 1.5rem;
			}
		}

		& > img {
			height: inherit;
			object-fit: cover;
		}
	}
	.col-6 {
		width: 50%;
		max-width: 50%;
	}
	.camp-icon {
		height: 166px;
		width: 166px;

		&#ballet {
		  background-position: -172px 0;
		}
		&#dance {
		  background-position: -347px 0;
		}
		&#music {
		  background-position: -518px 0;
		}
		&#theater {
		  background-position: -690px 0;
		}
	}

	.camp-icon:hover {
	  background: url("../images/active-camp-icons.png") no-repeat;
		background-size: cover;

		&#art {
		  background-position: 0 0;
		}
		&#ballet {
		  background-position: -168px 0;
		}
		&#dance {
		  background-position: -340px 0;
		}
		&#music {
		  background-position: -510px 0;
		}
		&#theater {
		  background-position: -675px 0;
		}
	}
}
@media only screen and (min-width: 768px) {
	.main-container {
		background: transparent;
	}
	.carousel-item {
	    height: 26rem;

			.carousel-caption {
				left: 5%;
				top: 38%;
			}
	}
	.camp-icon {
		width: 158px;
		height: 158px;

		&#ballet {
		  background-position: -164px 0;
		}
		&#dance {
		  background-position: -328px 0;
		}
		&#music {
		  background-position: -490px 0;
		}
		&#theater {
		  background-position: -650px 0;
		}
	}

	.camp-icon:hover {
	  background: url("../images/active-camp-icons.png") no-repeat;
		background-size: cover;

		&#art {
		  background-position: 0 0;
		}
		&#ballet {
		  background-position: -159px 0;
		}
		&#dance {
		  background-position: -322px 0;
		}
		&#music {
		  background-position: -482px 0;
		}
		&#theater {
		  background-position: -640px 0;
		}
	}
}

@media only screen and (min-width: 992px) {
	.main-container {
		background: $white;
	}
	.carousel-item {
	    height: 35rem;

			.carousel-caption {
				left: 5%;
				top: 50%;
			}
	}
}
@media only screen and (min-width: 1280px) {
	.carousel-item {
	    height: 42rem;

			.carousel-caption {
				left: 10%;
				top: 50%;
			}
	}
}
@media only screen and (min-width: 1440px) {
	.carousel-item {
	    .carousel-caption {
				left: 12%;
			}
	}
}
@media only screen and (min-width: 1600px) {
	.carousel-item {
	    .carousel-caption {
				left: 16%;
			}
	}
}
@media only screen and (min-width: 1920px) {
	.carousel-item {
	    .carousel-caption {
				left: 21%;
			}
	}
}
